/* Body colour */
body {
    font-size: x-large;
    font-family: 'Times New Roman', serif;
    width: 100%;
    background-color:bisque;
}
/* Tiitle of the page */
h1{
    color: beige;
    text-size-adjust:100px;
    font-size:xx-large;
    text-align: center;
    background-color: brown;
    border: 1cm;
   
}
/* Tag Line */
p{
    font-style: italic;
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(20, 7, 7, 0.1);
}
/* Navigation bar */
.nav {
  text-align: center;
  padding: 30px;
}
/* Search bar */
.nav input[type="text"] {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width:6cm;
}
/* Contents of navigation bar */
h2{
    text-align: center;
    text-shadow: 1cm;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2cm;
}
/* Section headings */
h3 {
    background-color:blanchedalmond;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(20, 7, 7, 0.1);
    text-align: center;
    text-decoration: double;
}
/* Veg and Non Veg headings */
h4{
    text-align: center;
    text-decoration: double;
    text-shadow: 1cm;
}
/* Table modifications */
table {
    margin: 0 auto;
    background-color: rgb(234, 197, 152);
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 20px;
    position: static;
}
/* Content of the table */
td {
    padding: 10px;
    margin: 10px;
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 20px;
}
/* Images in the table */
img { 
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 8px;
}

.Order-Here {
    padding-left: 16cm;
    padding-right: 10cm;
}
/* Ordered list */
ol {
    background: #e7c99f;
    padding: 20px;
  }
  ol li {
    background: #cce5ff;
    color:darkblue;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  /* Unordered list */
  ul{
    background:#e7c99f;
    padding: 20px;
  }
  
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  /* Combos box */
  h5{
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    color: brown;
  }
  /* Schedule */
  h6{
    text-align: center;
    text-decoration:underline;
    text-shadow: 1cm;
    text-decoration-thickness:5px;
    text-overflow: ellipsis;
    font-size: xx-large;
    font-style: italic;
    color:brown;
  }
 /* Flex box */
.flex-container {
  display: flex;
  background-color:rgb(225, 195, 150);
 text-align: center;
 align-self: center;
 padding-left: 2cm;
 border-radius: 8px;
 padding-top: 1cm;
 padding-bottom:1cm ;
}
.flex-container > div {
  background-color:bisque;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 8px;
}
p {
  text-align: center;
  margin-bottom: 1cm;
  background-color: rgb(226, 168, 97);
  padding-left: 2cm;
  padding-right:2cm;
 margin-left: 2cm;
 margin-right:2cm;
 margin-top: 2cm;
 margin-bottom: cm;
  border: 2px solid brown;
}
/* buttons */
button{
  padding:5px;
  margin:5px;
  background-color: rgb(212, 158, 140);
  border-radius: 5px;
  font-size: larger;
  text-align: center;
  padding-left: 2cm;
  padding-right: 2cm;
  margin-left: 20px;
  margin-right:25px ;
}
